<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Infoodies</title>
  </head>
  <body>
    <header>
      <div class="menu">
        <a href="/"><h1 class="title">Infoodies</h1></a>
        <button class="menu_hamburger">
          <ion-icon name="menu"></ion-icon>
        </button>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li>
            <a
              href="https://www.linkedin.com/in/muhamamad-arya-nurarif-49815915b/"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero_container">
        <img src="./images/heros/hero-image_2.jpg" alt="" />
        <div class="text_container">
          <h2>Welcome to Infoodies</h2>
        </div>
      </section>
      <section class="explore_about">
        <h3>Explore About Food</h3>
        <div class="items_container"></div>
      </section>
    </main>
    <footer>Copyright &copy; 2022 - MuhamamadAryaNurarif</footer>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
